.App{
    width: 100vw;
    height: 100vh;
}
body{
    margin:0;
    padding: 0;
}



.outer-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 9.5% 1fr;
    grid-gap: 15px;
}

.top-header{
  width: 100%;
  background-color: whitesmoke;
  border-radius: 14px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  font-size: 1.2vw;
  font-weight: bold;
}
.lower-body{
    width: 100%;
    background-color: whitesmoke;
    border-radius: 14px;
}